/* index.html */
.nav-button:hover {
    background-color: #93c5fd;
    transition: 1s;
    transform:scale(1.005);
}

.buy-button:hover {
    background-color: #93c5fd;
    transition: 1s;
    transform:scale(1.005);
}

/* registration.html */
.back-button:hover {
    background-color: #93c5fd;
    transition: 1s;
    transform:scale(1.05);
}